<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecmineursprj.repository.OrderStateRepository">

    <select id="findAll" resultType="OrderState">
        SELECT
        *
        FROM
        order_state
    </select>

    <select id="findByName" resultType="OrderState">
        SELECT
        *
        FROM order_state
        where name = #{name}
    </select>

</mapper>