<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecmineursprj.repository.OrderItemRepository">

    <select id="findAll" resultType="OrderItem">
        SELECT
        *
        FROM
        order_item
    </select>

    <select id="findById" resultType="OrderItem">
        SELECT
        *
        FROM order_item
        where id = #{id}
    </select>

    <insert id="add" parameterType="OrderItem">
        INSERT INTO 
        order_item (qty, total_price, order_id, order_state_id, product_item_id) 
        VALUES (#{qty}, #{totalPrice}, #{orderId}, #{orderStateId}, #{productItemId});
    </insert>

    <select id="findByOrderId" resultType="OrderItem">
        SELECT
        *
        FROM order_item
        where order_id = #{orderId}
    </select>

    <update id="updateOrderState">
        UPDATE order_item
        SET order_state_id = #{orderStateId}
        WHERE id = #{orderItemId};
    </update>

</mapper>