<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.48/dist/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/output.css">
</head>
<body>


<div layout:fragment="main"></div>

<!-- aside 부분   -->
<div th:replace="~{inc/footer.html}">header</div>

<!-- main 부분 -->

<!-- footer 부분-->
<!--<div th:replace="~{admin/inc}">footer</div>-->
</body>
</html>