<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/inc/layout}"
>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/myshop/wishlist.js"></script>
  <title>Document</title>
</head>
<body>
<main layout:fragment="main" class="container mx-auto px-20 mt-20">
  <section class="w-full">
    <h1 class="hidden">위시리스트</h1>
    <div class="text-center font-serif">Wishlist</div>
    <div class="w-full mt-5">
      <div>
        <form id="wishlistForm" method="post" action="/myshop/wishlist/delete">
          <table class="border border-slate-800 w-full">
            <colgroup>
              <col class="w-7" />
              <col class="w-24" />
              <col class="w-auto" />
              <col class="w-28" />
              <col class="w-28" />
            </colgroup>
            <thead class="font-sans">
            <tr>
              <th class="border border-slate-800">
                <input
                        id="selectAllCheckbox"
                        type="checkbox"
                        onclick="toggleCheckboxes(this)"
                />
              </th>
              <th class="border border-slate-800 font-thin">Item</th>
              <th class="border border-slate-800 font-thin">Name</th>
              <th class="border border-slate-800 font-thin">Price</th>
              <th class="border border-slate-800 font-thin">Select</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr th:each="product: ${productPage.content}">
              <td><input type="checkbox" name="productIds" th:value="${product.id}" /></td>
              <td>
                <a
                        th:href="@{/products/{productId}(productId=${product.id})}"
                ><img
                        class="py-3"
                        th:src="@{|/webapp/image/products/${product.mainImgPath}|}"
                        alt=""
                /></a>
              </td>
              <td th:text="${product.name}">이름</td>
              <td
                      class="font-medium text-sm"
                      th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} +원"
              >
                가격
              </td>
              <td class="flex flex-col py-4">
                <div>
                  <a
                          href=""
                          class="inline-block border border-slate-800 w-20 h-7 text-xs px-3 py-1 bg-black text-white hover:bg-white hover:text-black duration-300 ease-in-out"
                  >주문하기</a
                  >
                </div>
                <div class="py-1">
                  <button
                          class="inline-block border border-slate-800 w-20 h-7 text-xs px-1 py-1 hover:bg-neutral-300 duration-300 ease-in-out"
                  >
                    장바구니담기
                  </button>
                  <!-- 버튼과 모달 HTML 코드 -->
<!--                  <button class="btn" id="openModalButton">Open Modal</button>-->
<!--                  <dialog id="my_modal_1" class="modal">-->
<!--                    <div class="modal-box">-->
<!--                      <h3 class="font-bold text-lg">Hello!</h3>-->
<!--                      <p class="py-4">Press ESC key or click the button below to close</p>-->
<!--                      <iframe id="iframe" src="" width="100%" height="400px"></iframe>-->
<!--                      <div class="modal-action">-->
<!--                        <form method="dialog">-->
<!--                          &lt;!&ndash; if there is a button in form, it will close the modal &ndash;&gt;-->
<!--                          <button class="btn">Close</button>-->
<!--                        </form>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </dialog>-->

                </div>
                <div>

                    <button
                            class="inline-block border border-slate-800 w-20 h-7 text-xs px-3 py-1 hover:bg-neutral-300 duration-300 ease-in-out"
                            type="submit"
                            th:value="${product.id}"
                            name="productId"
                    >
                      삭제
                    </button>

                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="flex mt-3 justify-between">
            <div class="flex">
              <span class="font-medium">선택상품을</span>
              <div class="text-center pl-2">
                <button
                        type="submit"
                        class="inline-block border border-slate-800 w-20 h-7 text-xs px-3 py-1 bg-neutral-400 text-white hover:bg-white hover:text-black duration-300 ease-in-out"
                >
                  삭제하기
                </button>
              </div>
              <div class="text-center pl-2">
                <a
                        href=""
                        class="inline-block border border-slate-800 w-20 h-7 text-xs px-1 py-1 bg-white hover:bg-neutral-300 duration-300 ease-in-out"
                >장바구니담기</a
                >
              </div>
            </div>
            <div class="flex">
              <div class="text-center pl-2">
                <a
                        href=""
                        class="flex justify-center items-center border border-slate-800 w-32 h-10 text-xs px-3 py-1 bg-black text-white hover:bg-white hover:text-black duration-300 ease-in-out"
                >전체상품주문</a
                >
              </div>
              <div class="text-center pl-2">
                <button
                        type="button"
                        onclick="submitClearWishlistForm()"
                        class="flex justify-center items-center border border-slate-800 w-32 h-10 text-xs px-3 py-1 bg-gray-500 text-slate-100 hover:bg-neutral-300 duration-300 ease-in-out"
                >
                  관심상품 비우기
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
</body>
</html>
