<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/inc/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
<main layout:fragment="main" class="container mx-auto mt-24 h-full">
    <section class="h-full">
        <h1 class="text-center text-3xl">QnA</h1>
        <div class="flex justify-center items-center w-full mt-24">
            <form action="/qna/secret" method="post">
                <input type="hidden" name="id" value="" th:value="${id}">
                <p class="text-center my-10" th:if="${errorMessage != null}" th:text="${errorMessage}">이 글은 비밀글입니다. 비밀번호를 입력하여 주세요.
                    관리자는 확인버튼만 누르시면 됩니다.</p>
                <label>
                    비밀번호
                    <input class="border w-72" type="password" name="password">
                </label>
                <div class="my-12 text-center">
                    <a class="btn" th:href="@{/qna}">목록으로</a>
                    <button class="btn">제출하기</button>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>