.font\:normal,
.font\:normal-1,
.font\:n1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.font\:normal-2,
.font\:n2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
