.n-modal.active {
  animation: showIn 0.13s forwards;
}

.n-modal.in-active {
  animation: showOut 0.13s forwards;
}

/* ì• ë‹ˆë©”ì´ì…˜ */
@keyframes showIn {
  from {
    opacity: 0;
    transform: translate(50%, -48%) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translate(50%, -50%) scale(1);
  }
}

@keyframes showOut {
  from {
    opacity: 1;
    transform: translate(50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(50%, -48%) scale(0.97);
  }
}
