<!DOCTYPE >
<html lang="en" layout:decorate="~{/inc/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
<main layout:fragment="main" class="container mx-auto">

    <form class="flex flex-col items-center "  action="/notices/delete" method="post">
        <h1 class="mt-20">NOTICE</h1>
        <p class="">공지사항 입니다.</p>
        <div class="">
            <select class="border" name="searchMethod">
                <option th:each="searchMethod: ${searchMethods}" th:selected="${param.searchMethod} == ${searchMethod}" th:value="${searchMethod.name}" th:text="${searchMethod.name}">제목</option>
            </select>
            <input type="text" name="searchKeyword" placeholder="검색어를 입력하세요"
                   th:value="${#strings.trim(param.searchKeyword)}"/>
            <button class="n-btn n-btn-type:outline-box">검색</button>
        </div>
        <div class="overflow-x-auto mx-auto mt-10 container min-w-96  h-full">

            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th sec:authorize="hasRole('ADMIN')">

                        </th>
                        <th>No</th>
                        <th>Subject</th>
                        <th>Content</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice : ${list}">
                        <td sec:authorize="hasRole('ADMIN')">
                            <input type="checkbox" checked="checked" class="checkbox" name="noticeIds"
                                   th:value="${notice.id}"/>
                        </td>
                        <td th:text="${notice.id}">번호</td>
                        <td><a th:text="${notice.title}" th:href="@{/notices/{noticeId}(noticeId=${notice.id})}">제목</a>
                        </td>
                        <td th:text="${notice.content}">내용</td>
                        <td th:text="${notice.regDateTime}">날짜</td>
                    </tr>
                    </tbody>


                </table>

            </div>


        </div>
        <div sec:authorize="hasRole('ADMIN')" class="self-end flex space-x-4">
            <button class="btn btn-secondary">삭제</button>
            <a class="btn" href="/notices/reg">등록</a>

        </div>
    </form>
</main>
</body>
</html>
